<p>
  <b>By: <%= comment.commenter %> </b> | 
  <%= link_to 'Delete Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
 
<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>
<HR>

<p>
  
</p>