<BR>

  <div id="content">
	<div id="getting-started">
	
	  <h2>Introduction</h2>
	  <P>DISCUSS is a simple web application to facilitate small group discussions. 
	  It allows users to begin a discussion and then allow everyone to participate.</P>
	  
	  
	  <h2>Instructions</h2>
	  <P>To start participating in discussions, click on "The Discussion Forum" link.
	  Start a discussion thread by creating a Post. Discuss posts using adding Comments
	  (also known as notes). Deleting Posts also deletes associated comments, 
	  so this should be avoided when possible.
	  Reply to comments by creating additional comments.</P>
	  
	  <h2>About</h2>
	  <P>DISCUSS is written using Ruby 1.9.2 with Rails 3.1.0. It draws heavily from the Rails tutorial,
	  but then branches off by experimenting with CSS and other interface elements.
	  Deveoped by Mark Ciotola. See contact information at bottom of page.</P>
	  
	  <h2>Copyright Notice</h2>
	  <P>DISCUSS is subject to the GNU License.</P>

	</div>
	<BR>


  </div>


